.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.0);
    display: flex;
    justify-content: flex-end;
}



.modal-box {
    position: relative;
    width: 25vw;
    height: 50vh;
    background: rgba(24, 24, 24, 1);
    padding: 20px;
}

.modal-close {
    position: fixed;
    top: 25px;
    right: 15px;
}


@media (max-width:480px) {

    .modal-box {
        width: 50vw;
    }
}
