.btn-semitransparente {
    background-color: green !important;
    color: white; /* Ajusta el color del texto si es necesario */
    border: none; /* Para quitar bordes */
}

.btn-cierre {
    background-color: green !important;
    color: white; /* Ajusta el color del texto si es necesario */
    border: none; /* Para quitar bordes */
}

.titulo-celular {
    font-size: 16px !important; /* Tamaño del título */
    font-weight: bold;
}

.icono-celular {
    font-size: 11px !important; /* Agranda el contenedor */
}
